@import "tailwindcss";

@theme {
  --color-swoosh-gold: #C5A059;
  --color-swoosh-black: #0A0A0A;
  --color-swoosh-card: #141414;
  --font-serif: "Playfair Display", serif;
}

body {
  background-color: var(--color-swoosh-black);
  margin: 0;
  color: white;
}